#GIT IGNORE FILE

# Ignore build output directories
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore user-specific files (Mono)
*.userprefs

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Ignore .NET Core project directories
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore Visual Studio Code files
.vscode/

# Ignore JetBrains Rider files
.idea/

# Ignore Rider 2019.2 and earlier workspace
.idea/workspace.xml

# Ignore JetBrains Rider plugin directories
.idea/.idea.*
.idea/.idea_modules
.ijwb/.project
.idea/.idea_modules/.ijwb/.project
.ijwb/

# Ignore ReSharper files
_ReSharper*/
*.ReSharper
*.DotSettings.user

# Ignore other files
.vs/
TestResults/
