# Ignore Visual Studio temporary files, build results, and
# common node.js folders.
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sqlite

# Ignore build results
bin/
obj/
libs/

# Ignore Docker files
docker-compose.override.yml
docker-compose.yml
Dockerfile*

# Ignore logs and temp files
*.log
*.tmp
*.swp

# Ignore system files
.DS_Store
Thumbs.db
Desktop.ini

# Ignore Node.js modules (if you have any frontend projects using Node.js)
node_modules/

# Ignore coverage and test results
coverage/
test-results/

# Ignore all Draw.io backup files
*.drawio~ 

# Ignore specific files
24-1-D-44 Braude Capstone Project Book.docx
24-1-D-44 Braude Capstone Project Presentation.pptx
README.md

# Ignore env files
.env

# Ignore rust
# Compiled output
target/

# Dependencies
Cargo.lock

# Rust specific files
*.rlib
*.dSYM



# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
